#admin-nav {
  background-color: #c3d0e0;
}

.user-curr-info{
  margin-right:0em;
  border-radius: 0px;
  height: 100vh;
  padding-top: 0.5em;
  width: 25%;
  background-color: #152238;
  color: white;
  float: left;
  box-shadow:1px 10px 20px 0px black;
}

.back-button{
  border: none;
  background-color: #152338;
  color: white;
  font-size: 24px;
  transition-duration: 0.2s;
}

.back-button:hover {
  font-size: 32px;
}

.profile-img{
  height: 12em;
  width: 12em;
  margin: 0.5em auto;
  border-radius: 50%;
  overflow: hidden;
  /* box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7); */
}

.profile-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-curr-info h3{
  text-align: center;
}

.user-curr-info h4{
  margin: 0.4em auto 1em;
  text-align: center;
}

.user-ratings{
  width: 100%;
  text-align: center;
  margin-top: 0.2em;
}

.user-ratings i{
  color: rgba(156, 156, 43, 1);
  margin: auto;
}

.requests-info{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 90%;
  margin: auto;
  padding: 0.6em 0 0.6em 0.4em;
  font-size: 0.9em;
}

.requests-info p{
  display: inline;
}