/*.profile-pic-small {
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

.askRequest {
    background-color: #4d88ff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.send-button {
    margin-top: 10px;
}
*/