.timeline {
    background-color: #F5F5F5;
    width: 90%;
    margin: auto;
    overflow: scroll;
    height: 90vh;
    display: flex;
}

#descriptionInput {
    width: 700px;
}

.posts{
  width: 95%;
}