/* HERO */

.hero{
  height: 35em;
  width: 100%;
  background-image: url(../images/hero.jpg);
  background-size: cover;
}

/* MISSION */

.mission{
  text-align: center;
  padding: 1.5em 0;
}

.mission p{
  width: 60%;
  margin: auto;
  padding: 0.5em 0 0;
}

/* STATS */

.counter{
  display: flex;
  text-align: center;
  margin: 0em auto 2em;

}

.counter div{
  flex: 1;
}

.counter p{
  padding: 0.5em 0 0;
  font-size: 1.5em;
}


/* DESCRIPTIONS */

.description{
  display: flex;
  height: 25em;
  background-color: #f7f9fb;

}

.about{
  flex: 1;
  height: 100%;
  text-align: center;
  padding: 3em 0 0;
}

.about p{
  margin: auto;
  width: 70%;
  padding: 1em 0 0;
}

.who-we-are-img{
  flex: 1;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  height: 100%;
  width: 100%;
  background-image: url(../images/who-we-are.jpg);
  background-size: cover;
}

.what-we-do-img{
  flex: 1;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  height: 100%;
  background: red;
  width: 100%;
  background-image: url(../images/what-we-do.jpg);
  background-size: cover; 
}

.contact{
  text-align: center;
  margin: 1.5em 0 0;
}

.contact h2{
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

.contact p{
  width: 60%;
  padding: 0.4em 0 0;
  margin: auto;
}

