.new-request{
  font-family: 'Montserrat', sans-serif;
  width: 84%;
  height: auto;
  margin: 1em auto;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid rgba(72, 72, 72, 0.2);
}

/* CSS for the textarea description and profile image */

.new-request-description{
  display: flex;
  width: 95%;
  padding: 0.5em 1em;
}

.new-request-description img{
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.new-post-description{
  font: inherit;
  margin: 0;
  overflow: auto;
  display: block;
  width: 95%;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right:none;
  border-radius: 0px;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.new-post-description:focus{
  border-color: #66afe9;
  outline: 0;
  box-shadow: none;
}

/* CSS for the address input */

.new-post-address{
  width: 95%;
  padding: 0em 0em;
  margin: auto;
}

.new-post-address input{
  font-family: 'Montserrat', sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 0;
  height: 28px;
  display: inline-block;
  padding: 0.25em 1em;
  width: 68%;
  line-height: 1.42857143;
  color: #555;
  font: inherit;
  background-color: #fff;
  background-image: none;
  border-bottom: 1px solid #ccc;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.new-post-address input:focus{
  border-color: #66afe9;
  outline: 0;
}


.pay-selector{
  margin-top: 0.5em;
  float: right;
  display: inline-block;
  width: 25%;
}

.form-new-post.pay-select{
  width: 100%;
  padding: 6px 12px;
}

/* CSS for Items List area */

.new-request-detail{
  width: 95%;
  margin: auto;
}

.form-new-post{
  display: block;
  height: 30px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  text-transform: none;
  font: inherit;
  margin: 0;
}

.form-new-post.item-input{
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 0;
  height: 35px;
  display: inline-block;
  padding: 0px 12px;
}

.new-request-detail .form-new-post.item-input{
  width: 80%;
}

.form-new-post:focus{
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.itemListMain{
  display: inline-block;
  width: 75%;
}
#add-item-btn{
  width: 15%;
  cursor: pointer;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  margin-right:0.5em;
  user-select: none;
  border: 1px solid transparent;
  padding: .4rem 1rem;
  font-size: small;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#add-item-btn:hover{
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

/* CSS for the create request button */

.new-post-button{
  display: block;
  width: 95%;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: rgba(66, 103, 178, 0.9);
  color: #fff;
  border-radius: 5px;
  height: 2.5em;
  cursor: pointer;
  border:none;
  transition: all 0.2s ease-out;
}
.new-post-button:hover{
  background-color: rgba(66, 103, 178, 1);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
}

.new-post-button.disabled{
  cursor: not-allowed;
}

.new-post-button.disabled:hover{
  background-color: rgba(66, 103, 178, 0.9);
  box-shadow: none;
}