.sidebar{
  background-color: #152238;
  flex: 1;
  height: auto;
  color: #fff;
  box-shadow: 0 0px 10px 2px black;
  z-index: 10;
}

/* Profile header */

.profile-header{
  width: 50%;
  margin: 1em auto;
}

.profile-header img{
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.profile-info{
  text-align: center;
}

/* Filter section */
.filter-section{
  width: 90%;
  margin: auto;
}

.filter-section input{
  width: 100%;
  height: 2em;
  margin: auto auto 1em;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.dropdown-filters{
  display: flex;
  width: 100%;
  color: #fff;
}

.dropdown-filters select{
  flex: 1;
  height: 2em;
  border-radius: 5px;
  background-color: #152238;
  color: white;
}

.filter-button{
  margin-top: 1em;
  height: 3em;
  border-radius: 100px;
  width: 100%;
  cursor: pointer;
  background-color: #565656;
  color: #fff;
  border: 1px solid black;
}

.filter-button:hover{
  opacity: 0.8;

}

/* Google Maps */
.google-maps-section{
  margin: 1em auto;
  height: 20em;
  width: 95%;
}
