#sidebar{
  margin: 0;
  top: 0;
  position: fixed;
  background-color: rgb(49,54,62);
  width: 315px;
  height: 100%;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);}

  #brand-header{
    border-bottom: 2px solid rgba(255, 255, 255, 0.02);
    background-color: rgb(50,55,63);
    color: rgba(255, 255, 255, 0.7);}
    #brand-label{
      font-size: large;
      text-align: center;
      width: 70%;}
    #home-nav{
      border-radius: 5px;
      float:right;
      color: rgba(255, 255, 255, 0.7);
      transition: all 0.2s ease-out;}
      #home-nav:hover{
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(255, 255, 255, 0.05);}
  
  #profile-section{
    border-bottom: 2px solid rgba(255, 255, 255, 0.02);}
    #profile-section div{
      display: inline-block;}
    #profile-section img{
      border-radius: 5px;
      width: 89px;}
    #profile-info-area label{
      margin-bottom: 0;
      width: 100%;
      display: block;}
      #profile-info-name{
        font-weight: 200;
        color: rgba(255, 255, 255, 0.7);}
      #rating-label{
        color: rgba(255, 255, 255, 0.4);
        font-size: 11px;
        font-weight: 600;}
      #rating-stars{
        font-size: small;
        color: rgba(255, 255, 255, 0.4);}

  #filter-section{
    margin: auto;}
    #filter-section input{
      font-size: small;
      color: rgba(255, 255, 255, 0.7);
      background-color:rgba(0, 0, 0, 0.1) ;
      border: none;
      border-radius: 0;
      width:100%}
    #filter-section select{
      font-size: small;
      color: rgba(255, 255, 255, 0.3);
      border: none;
      border-radius: 0;
      background-color:rgba(0, 0, 0, 0.1) ;
      display: inline-block;
      width: 33.3%}
      #filter-section select:hover{
        cursor: pointer;}
    #filter-section button{
      font-weight: 600;
      color:rgba(255, 255, 255, 0.6);
      background-color:rgba(255, 255, 255, 0.2) ;
      width: 100%;}
      #filter-section button:hover{
        color:rgba(255, 255, 255, 0.8);
        background-color:rgba(255, 255, 255, 0.3);}

  #google-maps-section{
    margin: auto;
    width: 95%;
    height: 42%;}
  #sidebar-actions{
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    height: 5.5%;
    background-color: rgb(30, 33, 37);
    width:100%;}
    #sidebar-actions .action{
      height: 100%;
      text-align: center;
      width: 50%;
      display: inline-block;}
      .action.settings-action a{
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding-top: 4.5px;
        padding-bottom: 4.5px;
        border:none;
        color: rgba(255, 255, 255, 0.2);
        background-color: transparent;
        transition: all 0.2s ease-out;}
        .action.settings-action a:hover{
          color: rgba(255, 255, 255, 0.7);
          background-color:rgba(255, 255, 255, 0.05);}
        .action.settings-action a:visited{
          text-decoration: none;}
      .action.logout-action button{
        padding-top: 4.5px;
        padding-bottom: 4.5px;
        border:none;
        color: rgba(255, 255, 255, 0.2);
        background-color: transparent;
        width: 100%;
        transition: all 0.2s ease-out;}
        .action.logout-action button:hover{
          color: rgba(255, 255, 255, 0.7);
          background-color:rgba(255, 255, 255, 0.05);}
