.timeline {
  margin-left: 25%;
  width: 75%;
  flex: 3;
  height: 100%;
}

.posts {
  width: 100%;
  margin: auto;
}

.empty-message {
  font-weight: 500;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 3em;
  font-size: large;
  color: grey;
}

.empty-message i {
  margin-right: 1em;
}

#page-numbers {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 1em auto;
  list-style: none;
}

#page-numbers > li {
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin: 0 0.1em;
}

#page-numbers > li.current-page {
  background-color: #152338;
  color: white;
}

#page-numbers > li:hover {
  background-color: rgba(58, 82, 119, 0.5);
  color: white;
}

#page-numbers > li.current-page:hover {
  background-color: #152338;
  color: white;
}

/* Google Maps */
.google-maps-container {
  box-shadow: 0 2px 5px rgba(71, 71, 71, 0.2);
  width: 100%;
}

.google-maps-section {
  margin: 0em auto;
  height: 18em;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.marker-description {
  color: black;
}

.google-maps-section.hide {
  height: 0em;
}

.toggle-map {
  cursor: pointer;
  padding: 0.75em;
  width: 100%;
  border: none;
  border-radius: 0;
  background: #fafafa;
  background: rgb(238, 238, 238);
  color: rgba(71, 71, 71, 0.6);
  transition: all 0.2s ease-out;
}

.toggle-map:focus {
  outline: transparent;
}

.toggle-map:hover {
  color: rgba(71, 71, 71, 0.9);
  background: rgb(228, 228, 228);
}
