.profile-pic{
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

.posted-request {
  background-color: thistle;
  margin-top: 0rem;
}

.description-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}