.flex-container {
  display: flex;
  flex-direction: column;
  flex-flow: column-wrap;
  justify-content: space-around;  
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 1em;
}

.flex-options{
  background: grey;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  height: 50px;
  margin-top: 10px;
  color: white;
  font-size: 1em;
  text-align: center;
  border: none;
}
.page-title{
  text-align: center;
  width: 75%;
  float:right;
  background-color: #a7b9d4;
}
.dashboard-title {
  background-color: #a7b9d4;
}

.flex-options:hover{
    background: #527794;
  }

.options {
      float: left;
      width: 15%;
}

.content {
  float: right;
  width: 75%;
  border-color: grey;
  border-radius: 5px; 
  background-color: #f2f2f2;
  padding: 20px;
  margin-right: 2.5em;
  margin-top: 0.5em;
  width: 50%;
}

.promoteButton {
  width: 90px;
  height: 40px;
  background-color: #008CBA;
  font-size: 16px;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.5s;
  margin-top: 10px;
  border-radius: 5px;
}

.promoteButton:hover {
  background-color: #14b1e4;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: white}
tr:nth-child(odd){background-color: #fcd5a0}

th {
  background-color: #527794;
  color: white;
}

.deleteButton {
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: #ea6464;
}

.flexStats {
  display: flex;
  flex-direction: column;
  flex-flow: column-wrap;
  justify-content: space-around;  
  padding: 0;
  margin: 0;
  list-style: none;
}

.displayStats {
  background: grey;
  background-image: linear-gradient(141deg, #9fb8ad 40%, #648488 70%);
  height: 125px;
  padding: 5px;
  margin-top: 10px;
  color: white;
  font-size: 1em;
  text-align: center;
  border: none;
}


