.settings-container{
  position: relative;
  padding-bottom: 1em;
}

.settings-cover{
  height: 15em;
  background-image: linear-gradient(#152238, #537895);
}

.user-container{
  height: 40em;
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: -5em;
}